@{ 
    Layout = null;
}
<html>
<head>
    <title>School Management System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="jumbotron">
        <h1>School Management System - John Esan</h1>
        <h2>This is a school management admin portal built for use by schools in managing their school. This portal should be integrated with a pleasant front-end. This project was developed by John Esan</h2>
        <h3>Contact me: john@djtech.com.ng or call +234-818-256-1710</h3>
        <h3>If this project was helpful to you, you can reward me by sending SBD to http://steemit.com/@@johnesan</h3>
        <a href="@Url.Action("Index", "Student")" class="btn btn-danger btn-lg" style="text-align:center;">Visit Portal</a>
    </div>
</body>
</html>

